.app-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

.app-container * {
    font-family: "Quicksand Bold", Arial, sans-serif;
    font-size: 1rem;
    color: #2E3440;
    background-color: #D8DEE9;
}

.wiki-container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 8px;
    padding: 9px;
    border-radius: 16px;
}

.wiki-container img {
    height: 12rem;
    border-radius: 16px;
}

.wiki-container ul {
    margin-left: 12px;
}

.wiki-container ul li {
    font-family: "Quicksand SemiBold", Arial, sans-serif;
    margin-bottom: 3px;
}

.wiki-container ul li:last-child {
    margin-bottom: 0px;
}

@media (max-width: 500px) {
    .wiki-container img {
        height: 8rem;
    }
}

@media (max-width: 710px) {
    .app-container {
        margin: 0 5px;
    }
}