.header-button-section {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0px 0px 16px 16px;
    border-bottom: 2px solid #3B4252;
    box-shadow: 0 5px 5px rgba(38, 12, 28, 0.75);
}

.header-button-section li {
    margin: 0 4px 0.2rem;
}