.header-button-section {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0px 0px 16px 16px;
}

.header-button-section li {
    margin: 0 4px 0.2rem;
}