button {
    padding: 6px;
}

hr {
    width: 100%;
    max-width: 460px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #260c1c;
    margin: 0.4rem 0 0.2rem;
    padding: 0;
}

.header-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.header-container .title {
    font-family: "Quicksand Regular", Arial, sans-serif;
    font-size: 1.6rem;
    margin-top: 0.4rem;
    margin-bottom: 0;
}

@media (max-width: 360px) {
    hr {
        width: 90%;
    }
}