@font-face {
  font-family: "Quicksand SemiBold";
  src: url('./components/font/Quicksand-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: "Quicksand Bold";
  src: url('./components/font/Quicksand-Bold.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  background-color: #3B4252;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

button:hover {
  background-color: rgba(00, 00, 00, 0.1);
}

button:active {
  background-color: rgba(00, 00, 00, 0.2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}